
      {% if is_paginated %}
  <nav aria-label="..." class="mt-3">
    <ul class="pagination">
      <li class=" page-item {% if not previus_url %}disabled {% endif %}">
        <a class="page-link" href="{{ previus_url }}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>

      {% for n in page_object.paginator.page_range %}
        {% if page_object.number == n %}
              <li class="page-item active" aria-current="page">
                  <a class="page-link" href="?page={{n}}">{{n}}
                       <span class="sr-only">(current)</span>
                   </a>
            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ n }}">
                                  {{n}}
                  </a>
              </li>
        {% endif %}
      {% endfor %}
      <li class=" page-item {% if not next_url %}disabled {% endif %}">
        <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">next</a>
      </li>
    </ul>
  </nav>
  {% endif %}

